html,body {
	font-family:"Lucida Grande","Lucida Sans Unicode",Arial,sans-serif;
	letter-spacing:-1px;
	background-color:#fff;
}

a {
	transition:linear .2s;
	-moz-transition:linear .2s;
/* Firefox 4 */
	-webkit-transition:linear .2s;
/* Safari and Chrome */
	-o-transition:linear .2s;
/* Opera */
}

input:focus,select:focus,textarea:focus,button:focus {
	outline:none;
}

a:hover {
	opacity:.6;
}

divide {
	background:url(../img/New/divider.png) repeat-x;
	position:relative;
	top:25px;
	right:0;
}

header {
	background:url(../img/header-bg.png) top left repeat-x;
	height:154px;
	position:relative;
	min-width:720px;
	width:100%;
	-moz-box-shadow:inset 0 -5px 5px #444;
	-webkit-box-shadow:inset 0 -2px 5px #444;
	box-shadow:inset 0 -2px 5px #444;
	margin-bottom:115px;
}

header section {
	position:relative;
	height:71px;
	width:100%;
	background:url(../img/header-banner.png) top left repeat-x;
}

header a.h1 {
	background:transparent url(../img/logo.png) top left no-repeat;
	padding-left:45px;
	font-size:54px;
	color:#fff;
	font-weight:700;
	text-shadow:-0 -1px #666;
	float:left;
	margin:.1em;
	position:relative;
	z-index:3;
	text-indent:0;
}

h3 {
	font-size:46px;
	font-weight:700;
}

h3.smaller {
	font-size:42px;
}

.blue-gradient {
	position:relative;
}

.blue-gradient span {
	position:absolute;
	top:0;
	left:0;
	z-index:2;
	width:100%;
	color:#71a1d6;
	-webkit-mask-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,1)),to(rgba(0,0,0,0)));
}

.blue-gradient:after {
	content:attr(title);
	color:#1d5ab0;
}

header a.h1 span {
	font-size:21px;
	vertical-align:22px;
}

.container,.divider {
	max-width:960px;
	min-width:720px;
	position:relative;
	margin:0 auto;
	text-align:center;
}

.divider {
	margin-top:25px;
	margin-bottom:25px;
	clear:both;
}

.divider.mt175 {
	margin-top:185px;
}

header #sign_in {
	float:right;
	background:transparent url(../img/sign-in.png) top left no-repeat;
	width:127px;
	height:31px;
	margin:.3em;
	visibility:hidden;
}

header p {
	float:right;
	color:#fff;
	text-shadow:-.1em -.1em #666;
	font-style:italic;
	clear:right;
}

header #pro_badge {
	background:transparent url(../img/pro.png) top center no-repeat;
	width:178px;
	height:174px;
	position:absolute;
	left:50%;
	z-index:4;
	margin-left:-89px;
}

header > div {
	background:transparent url(../img/header-bg-blue.jpg) center bottom no-repeat;
	background-size:100% 150px;
	min-width:720px;
	height:150px;
}

header > div.background {
	position:relative;
}

header > div > .layer {
/*
width: 100%;
	min-width: 720px;
	height: 150px;
	background: transparent url('../img/phones.png') center 40px no-repeat;
*/
}

header a {
	text-indent:-9999px;
}

header a.apple {
	
/* 
background:transparent url(../img/app-store.png) top left no-repeat;
 */
/* 
	width:167px;
	height:47px;
 */
	float:left;
	margin-top:30px;
 
 background: transparent url('../img/app-store-big.png') top left no-repeat;
	width: 325px;
	height: 123px;
/* 	margin-top: 130px; */

}

header .layer2 {
/*
width: 900px;
	margin: 0 auto;
*/
}

header .layer2 a.apple {

background: transparent url('../img/app-store-big.png') top left no-repeat;
	width: 325px;
	height: 123px;
	 margin-top: 10px; 
	  margin-right: 10px; 

}

header a.google {

background:transparent url(../img/google-big.png) top left no-repeat;
	width:155px;
	height:57px;
	float:right;
	/* margin-top:30px; */

/* 
 background: transparent url('../img/google-big.png') top left no-repeat;
	width: 317px;
	height: 119px;
	margin-top: 130px;
 */
}

header .layer2 a.google {

background: transparent url('../img/google-big.png') top left no-repeat;
	width: 317px;
	height: 119px;
	 margin-top: 10px; 
	  margin-right: 10px; 

}

header .layer .inner {

width: 520px;
	margin: 0 auto;

}

header .imgbox {
	width:175px;
	height:176px;
	position:absolute;
	left:50%;
	top:100px;
	margin-left:-87px;
	background:transparent url(../img/img-circle.png) top left no-repeat;
}

header .imgbox img {
	border-radius:100px;
	margin:3px 5px;
}

header .imgbox2 {
	width:318px;
	height:223px;
	position:absolute;
	left:50%;
	top:50px; 
	margin-left:-152px;
	
}

header .imgbox2 img {
	 margin:3px 5px; 
	 
}

h2 {
	font-size:26px;
	color:#202020;
	font-weight:700;
	text-align:center;
}

.gradtop {
	text-align:center;
	background:#fff;
/* Old browsers */
	background:-moz-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(231,231,231,1) 100%);
/* FF3.6+ */
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,1)),color-stop(100%,rgba(231,231,231,1)));
/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(231,231,231,1) 100%);
/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(231,231,231,1) 100%);
/* Opera 11.10+ */
	background:-ms-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(231,231,231,1) 100%);
/* IE10+ */
	background:linear-gradient(to bottom,rgba(255,255,255,1) 0%,rgba(231,231,231,1) 100%);
/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e7e7e7',GradientType=0);
/* IE6-9 */
	border-top-right-radius:15px;
	border-top-left-radius:15px;
	height:42px;
	line-height:42px;
	color:#747474;
	font-size:20px;
}

.gradtop img {
	padding-top:3px;
}

div.table {
	border:2px solid #dadada;
	width:525px;
	border-radius:15px;
	margin:40px auto;
}

.event p {
	display:block;
	float:left;
	font-size:25px;
	font-weight:700;
	margin:20px 0 0 20px;
}

.event p.right {
	float:right;
	font-size:30px;
	margin:20px 20px 0 0;
}

.event p.right.small {
	font-size:25px;
	font-weight:400;
}

.block {
	display:block;
	width:506px;
	height:1px;
	clear:both;
	margin-bottom:15px;
}

h4 {
/* font-weight: bold; */
/* margin-top:65px; */
	margin-top:15px;
	font-size:30px;
}

h5 {
/* font-weight: bold; */
/* margin-top:65px; */
	margin-top:15px;
	font-size:25px;
}

p.confirm {
	color:#323232;
	font-size:20px;
	margin-top:20px;
}

.options {
	height:250px;
	margin-bottom:15px;
}

.options .center {
	width:33%;
	min-width:240px;
	display:inline-block;
	margin:0 auto;
}

.options .center_new {
	width:100%;
	min-width:240px;
	display:inline-block;
	margin:0 auto;
}

.options .centerpro {
	display:inline-block;
}

.options .centerpro.mid {
	width:43%;
}

.options .center > div {
	width:236px;
	height:237px;
	text-align:left;
	margin:0 auto;
	cursor:pointer;
}

.options .centerpro > div {
	width:168px;
	height:174px;
	text-align:left;
	margin:0 auto;
}

.options .center > div:hover {
	opacity:.6;
}




.options .right.multi > div > div.selectors_singles {
	margin-top:13px;
}

.options .right.multi > div > div.selectors_singles > div {
	vertical-align:middle;
	width:70px;
	height:63px;
	padding-right: 100px;
	display:inline-block;
	cursor:pointer;
}





.options .center.multi > div {
	background:transparent url(../img/option-bg2.png) top left no-repeat;
	width:236px;
	height:237px;
	text-align:left;
	margin:0 auto;
	cursor:default;
}

.options .center.multi > div:hover {
	opacity:1;
}

.options .center.multi > div > div.selectors {
	margin-top:13px;
	text-align:center;
}

.options .center.multi > div > div.selectors > div {
	width:70px;
	height:63px;
	background:transparent url(../img/bg-unselected.png) top left no-repeat;
	display:inline-block;
	cursor:pointer;
}

.options .center.multi > div > div.selectors > div.selected {
	background:transparent url(../img/bg-selected.png) top left no-repeat;
}

.options .center.multi > div > div.selectors > div:hover {
	opacity:.6;
}

.status_check {
	background:url(/img/new/status_check.png) right bottom no-repeat;
	width:70px;
	z-index:0;
	height:70px;
/* display: inline-block; */
	text-align:left;
	margin:0 auto;
}

.options .right.multi > div {
	vertical-align:middle;
	width:236px;
	text-align:left;
	margin:0 auto;
	cursor:default;
}

.options .right.multi > div:hover {
	opacity:1;
}

.options .right.multi > div > div.selectors {
	margin-top:13px;
}

.options .right.multi > div > div.selectors > div {
	vertical-align:middle;
	width:70px;
	height:63px;
	background:transparent url(../img/bg-unselected.png) top left no-repeat;
	display:inline-block;
	cursor:pointer;
}

.options .right.multi > div > div.selectors > div.selected {
	background:transparent url(../img/bg-selected.png) top left no-repeat;
}

.options .right.multi > div > div.selectors > div:hover {
	opacity:.6;
}

.options .center.multi > div > div.selectors > div.pre_selected {
	background:transparent url(../img/bg-selected.png) top left no-repeat;
}

.border_divider {
	background:url(/img/new/new_divider.png) repeat-x;
	width:100%;
	z-index:0;
	height:20px;
	margin-top:13px;
	margin-bottom:13px;
}

.options .single_option > div {
/*
vertical-align:middle;
	width: 100%;
*/
	height:63px;
	padding-top:53px;
	text-align:right;
	margin:0 auto;
	cursor:default;
}

.options .single_option > div:hover {
	opacity:1;
/* 	background: transparent url('../img/new/btn_choose_pressed.png') top left no-repeat; */
}

.options .single_option > div > div.selectors {
	margin-top:13px;
}

.options .single_option > div > div.selectors > div {
/*
vertical-align:middle;
 */
	width:70px;
	height:63px;
	background:transparent url(../img/new/btn_choose.png) top left no-repeat;
/* display: inline-block; */
	cursor:pointer;
}

.options .single_option > div > div.selectors > div.selected {
	background:transparent url(../img/new/btn_choose_pressed.png) top left no-repeat;
}

.options .single_option > div > div.selectors > div:hover {
	opacity:.6;
}

/*
.options .single_option > div{

	width: 236px;
	height: 237px;
	text-align: left;
	margin: 0 auto;
	cursor: pointer;
}

*/
.options .left.multi > div {
	width:236px;
	vertical-align:middle;
/*
width: 236px;
	height: 237px;
	text-align: top;
	margin: 0 auto;
	cursor: default;
*/
}

.options .left.multi > div:hover {
	opacity:1;
}

.options .left.multi > div > div.selectors {
/* margin-top: 13px; */
}

.options .left.multi > div > div.selectors > div {
	width:70px;
	height:63px;
	background:transparent url(../img/bg-unselected.png) top left no-repeat;
	display:inline-block;
	cursor:pointer;
}

.options .left.multi > div > div.selectors > div.selected {
	background:transparent url(../img/bg-selected.png) top left no-repeat;
}

.options .left.multi > div > div.selectors > div:hover {
	opacity:.6;
}

.options .centerpro > div > div {
	position:relative;
}

.options .centerpro h2 {
	width:168px;
	height:56px;
	font-size:21px;
	font-weight:400;
	line-height:58px;
	position:absolute;
	top:0;
	left:0;
}

.options .centerpro > div > div h2.active {
	background:transparent url(../img/option-title.png) top left no-repeat;
}

.options .centerpro > div > div h2.inactive {
	display:none;
}

.options h2 {
	width:100%;
	height:80px;
	font-size:30px;
	line-height:80px;
	color:#fff;
	text-shadow:-1px -1px #666;
	text-align:center;
}

.options h3 {
	font-size:18px;
	color:#3b3b3b;
	line-height:1.4em;
	margin-top:15px;
	text-align:center;
}

.options p {
	font-size:18px;
	color:#3b3b3b;
	line-height:1.4em;
	padding-left:53px;
/* text-align: center; */
}

.table_options p {
	font-size:18px;
	color:#3b3b3b;
	line-height:1.4em;
	padding-left:53px;
	padding-top:53px;
/* text-align: center; */
}

.table_options_message p {
	font-size:18px;
	color:#3b3b3b;
	line-height:1.4em;
	padding-left:53px;
	padding-top:53px;
	font-style:italic;
/* text-align: center; */
}

.table_options_location a {
	font-size:18px;
/* color: #3b3b3b; */
	line-height:1.4em;
	padding-left:53px;
	padding-top:53px;
	color:#1d5ab0;
/* text-align: center; */
}

.options p1 {
	font-size:18px;
/* color: #3b3b3b; */
	line-height:1.4em;
	padding-left:53px;
	padding-top:53px;
	font-weight:700;
/* text-align: center; */
}

.options_booked p1 {
	font-size:18px;
/* color: #3b3b3b; */
	line-height:1.4em;
	padding-left:53px;
	padding-top:53px;
	font-weight:700;
/* text-align: center; */
}

.options_booked p {
	font-size:18px;
	color:#3b3b3b;
	line-height:1.4em;
	padding-left:53px;
/* padding-top:53px; */
/* font-style:italic; */
/* text-align: center; */
}

a.decline {
	width:359px;
	height:151px;
	background:transparent url(../img/new/btn_cant.png) top left no-repeat;
	display:block;
	margin:0 auto;
	text-indent:-9999px;
	margin-top:45px;
}

.decline {
	width:359px;
	height:151px;
	background:transparent url(../img/new/btn_cant.png) top left no-repeat;
	display:block;
	margin:0 auto;
	text-indent:-9999px;
	margin-top:45px;
}

a.decline.selected {
	width:359px;
	height:151px;
	background:transparent url(../img/new/btn_cant_pressed.png) top left no-repeat;
	display:block;
	margin:0 auto;
	text-indent:-9999px;
	margin-top:45px;
}

a.cantMakeIt {
	width:359px;
	height:151px;
	background:transparent url(../img/new/btn_cant.png) top left no-repeat;
	display:block;
	margin:0 auto;
	text-indent:-9999px;
	margin-top:45px;
}

a.cantMakeIt.selected {
	width:359px;
	height:151px;
	background:transparent url(../img/new/btn_cant_pressed.png) top left no-repeat;
	display:block;
	margin:0 auto;
	text-indent:-9999px;
	margin-top:45px;
}

a.vote {
/*
width: 209px;
	height: 51px;
	background: transparent url('../img/vote.png') top left no-repeat;
*/
	width:359px;
	height:100px;
	background:transparent url(../img/new/btn_submit_vote.png) top left no-repeat;
	display:block;
	margin:0 auto;
	text-indent:-9999px;
	margin-top:45px;
}

a.revote {
/*
width: 209px;
	height: 51px;
	background: transparent url('../img/vote.png') top left no-repeat;
*/
	width:359px;
	height:100px;
	background:transparent url(../img/new/btn_change_vote.png) top left no-repeat;
	display:block;
	margin:20px auto;
}

a.revote_selected {
/*
width: 209px;
	height: 51px;
	background: transparent url('../img/vote.png') top left no-repeat;
*/
	width:100px;
	height:100px;
	background:transparent url(../img/new/ajax_loader.gif) top left no-repeat;
	display:inline;
	margin:20px auto;
/*
display: block;
	margin: 20px auto;
	text-indent: -9999p
 */
	-webkit-animation-duration:1s;
	-webkit-animation-iteration-count:infinite;
	image-rendering:-moz-crisp-edges;
/* Firefox */
	image-rendering:-o-crisp-edges;
/* Opera */
	image-rendering:-webkit-optimize-contrast;
/* Webkit (non-standard naming) */
	-ms-interpolation-mode:nearest-neighbor;
/* IE (non-standard property) */
/*
	-moz-animation: spinoff .5s infinite linear;
 */
/*
    -webkit-animation: spinoff .55s infinite linear;
 */
/* margin-top: 45px; */
}

.pre_loader {
	width:359px;
	height:100px;
	background:transparent url(../img/new/pre_loader.gif) no-repeat;
	display:block;
	margin:20px auto;
	visibility:hidden;
}

img.space {
	margin-top:100px;
}

img.halfspace {
	margin-top:20px;
}

img.thirdspace {
	margin-top:50px;
}

.options.add {
	height:180px;
}

a.addto {
	width:250px;
	height:160px;
	cursor:pointer;
	display:inline-block;
	text-indent:-9999px;
}

a.addto.ical {
	background:transparent url(../img/new/attachment_ical.png) top left no-repeat;
	margin:0 80px;
}

a.addto.google {
	background:transparent url(../img/new/attachment_google.png) top left no-repeat;
}

a.addto.outlook {
	background:transparent url(../img/new/attachment_outlook.png) top left no-repeat;
}

h2.seewhy {
	color:#292929;
	font-weight:400;
	font-size:21px;
	margin-top:15px;
	margin-bottom:35px;
}

h2.space {
	margin-top:80px;
}

img.itunes {
	top:4px;
	position:relative;
	margin:0 25px;
}

footer ul {
	text-align:center;
	margin-bottom:50px;
}

footer ul li {
	text-align:center;
	display:inline;
}

footer ul li a {
	display:inline-block;
	padding:0 10px;
	font-weight:700;
	text-transform:uppercase;
}

div p.info {
	color:#676767;
	font-size:19px;
	font-weight:700;
}

div p.info.small {
	font-size:17px;
	font-weight:400;
}

form.schedule {
	width:610px;
	height:270px;
	margin:45px auto 0;
}

form.schedule input {
	border:none;
	font-size:18px;
	color:#3b3b3b;
	padding-left:70px;
	margin:7px;
	float:left;
	transition:linear .4s;
	-moz-transition:linear .4s;
/* Firefox 4 */
	-webkit-transition:linear .4s;
/* Safari and Chrome */
	-o-transition:linear .4s;
/* Opera */
}

form.schedule input#name {
	width:210px;
	height:49px;
	background:transparent url(../img/input-name.png) top left no-repeat;
}

form.schedule input#email {
	width:210px;
	height:49px;
	background:transparent url(../img/input-email.png) top left no-repeat;
}

form.schedule input#title {
	width:509px;
	height:49px;
	background:transparent url(../img/input-title.png) top left no-repeat;
}

form.schedule input#message {
	width:509px;
	height:49px;
	background:transparent url(../img/input-message.png) top left no-repeat;
}

form.schedule input#phone {
	position:absolute;
	opacity:1;
	left:0;
	width:149px;
	height:49px;
	background:transparent url(../img/input-phone.png) top left no-repeat;
}

form.schedule input#pin {
	position:absolute;
	left:235px;
	opacity:1;
	width:100px;
	height:49px;
	padding-left:20px;
	margin:7px 2px;
	background:transparent url(../img/input-pin.png) top left no-repeat;
}

form.schedule input#phone.meet,form.schedule input#pin.meet {
	left:365px;
	opacity:0;
}

form.schedule input#location {
	position:absolute;
	opacity:0;
	left:-300px;
	width:279px;
	height:49px;
	background:transparent url(../img/input-location.png) top left no-repeat;
}

form.schedule input#location.meet {
	left:0;
	opacity:1;
}

form.schedule fieldset {
	width:225px;
	height:53px;
	background:transparent url(../img/call-meet.png) top left no-repeat;
	display:inline-block;
	cursor:pointer;
	position:relative;
	float:left;
	margin:4px 0 0 4px;
}

form.schedule fieldset:hover {
	opacity:.6;
}

form.schedule fieldset img {
	position:absolute;
	top:10px;
	left:60px;
	transition:linear .4s;
	-moz-transition:linear .4s;
/* Firefox 4 */
	-webkit-transition:linear .4s;
/* Safari and Chrome */
	-o-transition:linear .4s;
/* Opera */
}

form.schedule fieldset img.meet {
	left:114px;
}

form.schedule .callmeet {
	width:365px;
	height:65px;
	display:inline-block;
	float:left;
	position:relative;
	overflow:hidden;
}

section.main .custom-calendar-wrap *,section.main .custom-calendar-wrap :after,section.main .custom-calendar-wrap :before {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:0;
	margin:0;
}

/* CALENDAR */
section.main .custom-calendar-wrap nav {
	width:100%;
	height:45px;
}

section.main .custom-calendar-wrap nav span {
	transition:linear .2s;
	-moz-transition:linear .2s;
/* Firefox 4 */
	-webkit-transition:linear .2s;
/* Safari and Chrome */
	-o-transition:linear .2s;
/* Opera */
	width:23px;
	height:22px;
	display:block;
	cursor:pointer;
	margin:11px 10px 0;
}

section.main .custom-calendar-wrap nav span:hover {
	opacity:.4;
}

#custom-inner {
	float:left;
	margin-bottom:35px;
}

#custom-inner .custom-header {
	width:683px;
	background:transparent url(../img/cal-header.png) top left repeat;
	border:1px solid #b5b5b5;
	border-top-right-radius:2px;
	border-top-left-radius:2px;
}

h2.custom-month,h3.custom-year,h2.custom-day {
	color:#6d7a97;
	font-size:19px;
	display:inline-block;
	text-align:center;
	line-height:45px;
}

section.main .custom-calendar-wrap h2.custom-day {
	line-height:25px;
	padding-top:10px;
}

#custom-prev {
	float:left;
	background:transparent url(../img/cal-prev.png) top left no-repeat;
}

#custom-next {
	float:right;
	background:transparent url(../img/cal-next.png) top left no-repeat;
}

.fc-calendar-container {
	position:relative;
	width:683px;
	border:1px solid #b5b5b5;
	border-bottom-right-radius:2px;
	border-bottom-left-radius:2px;
}

.fc-calendar {
	width:100%;
	height:100%;
}

.fc-calendar .fc-head {
	height:20px;
	line-height:20px;
	background:transparent url(../img/cal-day-bg.png) top left repeat;
	font-size:10px;
	text-transform:uppercase;
	font-weight:700;
	color:#8991a2;
	border-bottom:1px solid #b3b4b6;
}

.fc-calendar .fc-body {
	position:relative;
	width:100%;
	height:auto;
	border:1px solid #ddd;
}

.fc-calendar .fc-body .fc-row .disabled {
	background-color:#f7f7f7;
}

.fc-calendar .fc-row {
	width:100%;
	height:80px;
	border-bottom:1px solid #ddd;
}

.fc-four-rows .fc-row {
}

.fc-five-rows .fc-row {
}

.fc-six-rows .fc-row {
}

.fc-calendar .fc-row > div,.fc-calendar .fc-head > div {
	float:left;
	height:100%;
	width:97px;
	position:relative;
}

/* IE 9 is rounding up the calc it seems */
.ie9 .fc-calendar .fc-row > div,.ie9 .fc-calendar .fc-head > div {
	width:14.2%;
}

.fc-calendar .fc-row > div {
	border-right:1px solid #ddd;
	padding:4px;
	overflow:hidden;
	position:relative;
}

.fc-calendar .fc-head > div {
	text-align:center;
	border-left:1px solid #d0d2d8;
}

.fc-calendar .fc-row > div > span.fc-date {
	position:absolute;
	width:9px;
	height:9px;
	font-size:9px;
	line-height:9px;
	font-weight:700;
	color:#000;
	text-shadow:0 -1px 0 rgba(255,255,255,0.8);
	top:3px;
	right:3px;
	text-align:right;
}

.fc-calendar .fc-row > div > span.fc-weekday {
	padding-left:5px;
	display:none;
}

.fc-calendar .fc-row > div.fc-today {
	background:#fff4c3;
}

.fc-calendar .fc-row > div.fc-out {
	opacity:.6;
}

.fc-calendar .fc-row > div:last-child,.fc-calendar .fc-head > div:last-child {
	border-right:none;
}

.fc-calendar .fc-row:last-child {
	border-bottom:none;
}

.custom-calendar-wrap {
	margin-top:30px;
}

.fc-body .fc-row > div {
	cursor:pointer;
}

.fc-body .fc-row > div:hover,.fc-body .fc-row > div.active {
	background-color:#fffff4;
}

.fc-body .fc-row > div.active.check {
	background:#fffff4 url(../img/daycheck.png) center center no-repeat;
}

.fc-body .fc-row > div.check {
	background:#fff url(../img/daycheck.png) center center no-repeat;
}

.fc-body .fc-row > div.active {
	background-color:#fffff4;
}

h3.select-info {
	font-size:17px;
	font-weight:400;
	color:#676767;
}

div.leftbox {
	float:left;
}

div.rightbox {
	float:left;
}

#timepicker {
	width:260px;
	height:471px;
	overflow-y:auto;
	-moz-box-shadow:inset 15px 10px 15px -10px #ddd;
	-webkit-box-shadow:inset 15px 10px 15px -10px #ddd;
	box-shadow:inset 15px 10px 15px -10px #ddd;
	border:1px solid #b5b5b5;
	border-top-right-radius:2px;
	background:#fff;
/* Old browsers */
	background:-moz-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(249,250,251,1) 26%);
/* FF3.6+ */
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,1)),color-stop(26%,rgba(249,250,251,1)));
/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(249,250,251,1) 26%);
/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(249,250,251,1) 26%);
/* Opera 11.10+ */
	background:-ms-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(249,250,251,1) 26%);
/* IE10+ */
	background:linear-gradient(to bottom,rgba(255,255,255,1) 0%,rgba(249,250,251,1) 26%);
/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f9fafb',GradientType=0);
/* IE6-9 */
}

#timepicker .header {
	border-bottom:1px solid #ddd;
	height:65px;
}

#timepicker .timevalue {
	height:40px;
	border-bottom:1px solid #ddd;
	color:#979797;
	font-size:18px;
	line-height:40px;
	text-align:left;
	text-indent:20px;
	cursor:pointer;
}

#timepicker .timevalue:hover,#timepicker .timevalue.active {
	background-color:#fffff4;
}

#timepicker .timevalue.active.check {
	background:#fffff4 url(../img/smallcheck.png) 95% center no-repeat;
}

#timepicker .timevalue.check {
	background:transparent url(../img/smallcheck.png) 95% center no-repeat;
}

.options.additems h3 {
	padding-top:10px;
	font-size:12px;
}

.options.additems p {
	font-size:14px;
}

.options.additems .item {
	background:transparent url(../img/time-pick-bg.png) top left no-repeat;
	width:170px;
	height:117px;
	position:absolute;
	top:-145px;
	cursor:pointer;
	opacity:.4;
	transition:linear .2s;
	-moz-transition:linear .2s;
/* Firefox 4 */
	-webkit-transition:linear .2s;
/* Safari and Chrome */
	-o-transition:linear .2s;
/* Opera */
}

.options.additems .item.slid {
	top:55px;
	opacity:1;
}

.options.additems .item:hover {
	opacity:.6!important;
}

#durationpicker {
	width:521px;
	height:41px;
	display:block;
	margin:0 auto;
}

#durationpicker li {
	display:inline-block;
	z-index:1;
}

#durationpicker li a {
	color:#9fa2a6;
	font-size:19px;
	margin:0 7px;
	padding:10px;
	line-height:40px;
	z-index:3;
}

#durationpicker li a.picked {
	color:#fff;
}

.containduration .bluebox {
	background:transparent url(../img/time-bubble.png) center center no-repeat;
	width:106px;
	height:36px;
	position:absolute;
	z-index:-1;
	top:3px;
	left:95px;
	transition:linear .4s;
	-moz-transition:linear .4s;
/* Firefox 4 */
	-webkit-transition:linear .4s;
/* Safari and Chrome */
	-o-transition:linear .4s;
/* Opera */
}

div.containduration {
	background:transparent url(../img/time-bg.png) top left no-repeat;
	width:521px;
	height:41px;
	display:block;
	margin:0 auto;
	position:relative;
	z-index:1;
}

.twohundredfiftypercent {
	font-size:250%!important;
}

.whatsnext {
	color:#323232;
	line-height:1.4em;
	font-size:20px;
}

.whatsnext span.blue {
	color:#2465b9;
}

.divider .social-media-links {
	text-align:center;
	margin-top:25px;
	float:right;
	margin-bottom:10px;
	
	width:942px;
}

.social-media-links a {
	float:right;
	width:57px;
	height:58px;
	
}

.social-media-links a.twitter {
	background:transparent url(../img/twitter-circle.png) center center no-repeat;
}

.social-media-links a.facebook {
	background:transparent url(../img/facebook-circle.png) center center no-repeat;
}

section.alt {
	clear:both;
	background-color:#f2f2f2;
	border-top:1px solid #a8a8a8;
	border-bottom:1px solid #a8a8a8;
	-moz-box-shadow:inset 0 0 17px -2px #888;
	-webkit-box-shadow:inset 0 0 17px -2px #888;
	box-shadow:inset 0 0 17px -2px #888;
	display:block;
	position:relative;
}

section.normal {
	clear:both;
	background-color:#fff;
	display:block;
	position:relative;
}

section .divider.block1 {
	position:relative;
	width:900px;
	height:745px;
	margin-bottom:0;
	overflow:hidden;
}

section .divider.block1 img.left {
	position:absolute;
	top:25px;
	left:0;
}

section .divider.block1 img.right {
	position:absolute;
	bottom:0;
	right:0;
}

section .divider.block2 {
	position:relative;
	width:900px;
	height:700px;
	margin-bottom:0;
	overflow:hidden;
}

section .divider.block2 img.right {
	position:absolute;
	top:25px;
	right:0;
}

section .divider.block2 img.left {
	position:absolute;
	bottom:0;
	left:0;
}

section .divider.block3 {
	position:relative;
	width:960px;
	height:935px;
	margin-bottom:0;
	overflow:hidden;
}

section .divider.block3 img.right {
	position:absolute;
	bottom:275px;
	right:0;
}

section .divider.block3 img.left {
	position:absolute;
	top:80px;
	left:0;
}

section .divider.block4 {
	position:relative;
	width:960px;
	height:760px;
	margin-bottom:0;
	overflow:hidden;
}

section .divider.block4 img {
	position:absolute;
	top:30px;
	left:0;
}

section .divider.block4b {
	width:960px;
	height:200px;
	position:relative;
}

a.apple_med {
	position:absolute;
	left:100px;
	top:50px;
}

a.google_med img {
	float:left;
	clear:left;
}

a.google_med img.coming {
	margin-left:70px;
}

a.google_med {
	position:absolute;
	right:100px;
	top:50px;
}

div.whatsnextimg {
	position:relative;
}

p.counteroffer,p.confirmoffer {
	color:#323232;
	line-height:1.4em;
	font-size:20px;
	position:absolute;
	width:400px;
}

p.counteroffer {
	top:252px;
	right:0;
}

p.confirmoffer {
	top:410px;
	right:0;
}

img#banner {
	position:absolute;
	left:-95px;
	z-index:5;
	height:110px;
}

#Section_1 {
	position:fixed;
	z-index:2;
	width:100%;
	height:76px;
	background:url(/img/header_bg.png) repeat-x;
	top:0;
}

#Section_1_1 {
	width:1057px;
	margin:0 auto;
	top:0;
	z-index:3;
}

#Section_2 {
	background:url(/img/header_slice.jpg) repeat-x;
	width:100%;
	z-index:0;
	height:629px;
}

#Section_2_1 {
	width:1057px;
	margin:0 auto;
	background:url(/img/header_main.jpg) no-repeat;
	position:relative;
	z-index:1;
	height:629px;
}

#Section_2_1 #app_store_icon {
	position:absolute;
	left:50px;
	top:450px;
}

#Section_2_1 #f_play_icon {
	position:absolute;
	left:890px;
	top:450px;
}

.Section_A {
	background:#f1f1f1;
	-moz-box-shadow:inset 0 0 10px #929292;
	-webkit-box-shadow:inset 0 0 10px #929292;
	box-shadow:inset 0 0 10px #929292;
	width:100%;
	min-width:1057px;
	padding-top:50px;
	clear:both;
	padding-bottom:50px;
}

.Section_AB_1 {
	width:1057px;
	margin:0 auto;
}

.Section_AB_1.left {
	display:inline-block;
	width:500px;
	text-align:center;
}

.Section_AB_1.right {
	display:inline-block;
	width:500px;
	text-align:center;
}

.Section_A.both,.Section_B.both {
	text-align:center;
}

.Section_A_Header {
	padding-left:25px;
	padding-bottom:25px;
}

.Section_A_Text {
	min-height:380px;
	padding-left:25px;
	padding-right:25px;
	clear:left;
}

.Section_A_Photo {
	width:611px;
	float:right;
	padding-right:25px;
	padding-left:25px;
	padding-bottom:25px;
}

.Section_B {
	background:#FFF;
	width:100%;
	min-width:1057px;
	padding-top:50px;
	padding-bottom:50px;
}

#mainContent {
	position:relative;
	width:100%;
	top:0;
	min-width:1057px;
}

.Section_B_Photo {
	float:left;
	margin-top:45px;
	padding-left:25px;
	padding-right:25px;
	padding-bottom:25px;
}

.Section_A_twitter {
	padding-left:160px;
	padding-bottom:35px;
}

.Section_B_Text {
	text-align:right;
	padding-right:25px;
	clear:right;
}

.Section_B .Section_AB_1 table tr td {
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
}

.Section_B_Header {
	padding-right:45px;
	padding-bottom:85px;
}

.Section_footer {
	background:#FFF url(/img/footer_bg.jpg) repeat-x;
	width:100%;
	min-width:1057px;
	padding-top:25px;
	height:140px;
}

.Section_footer .Section_footer_1 img {
	padding-right:75px;
	padding-left:75px;
}

.Section_footer_1 {
	width:1057px;
	margin:0 auto;
	text-align:center;
}

.Section_C_Photo {
	padding-right:25px;
	padding-left:25px;
	padding-bottom:25px;
}

#mainContent {
	font-size:21px;
	letter-spacing:2px;
	letter-spacing:0;
	line-height:1.4em;
}

.container.mission {
	background-color:#fff;
	padding:15px;
	margin-top:-33px;
}

.mission h3 {
	font-size:32px;
	margin-bottom:35px;
}

.mission h3.small {
	font-size:28px;
	margin-bottom:15px;
}

.videoclip {
	position:relative;
	margin:0 auto;
	width:640px;
	height:360px;
	box-shadow:5px 5px #818181;
	-webkit-box-shadow:1px 1px 15px #818181;
	-moz-box-shadow:5px 5px 5px #818181;
	

box-shadow: 5px 5px #818181;
-webkit-box-shadow: 5px 5px 5px #818181;
-moz-box-shadow: 5px 5px 5px #818181;

}